# --- Entornos Virtuales ---
.venv/
venv/
env/
bin/
lib/
develop-eggs/
dist/
eggs/
installed.files/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
# Opcional: si no quieres subir archivos de checkpoints de jupyter lab
.virtual_documents/

# --- Python / Compilación ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/

# --- Datos y Modelos (Pesados/Sensibles) ---
# Se recomienda subir solo la carpeta pero no archivos .csv grandes
data/raw/*.csv
data/processed/*.csv
*.pkl
*.joblib
*.h5
*.model

# --- Logs y Configuración de Sistema ---
*.log
.DS_Store
Thumbs.db
.env
.vscode/
.idea/