# --- Manipulación de Datos y Análisis Estadístico ---
pandas
numpy
scipy
phik

# --- Machine Learning y Manejo de Desbalanceo ---
scikit-learn
imblearn

# --- Visualización de Datos ---
plotly
matplotlib
seaborn
kaleido==0.1.0

# --- Entorno de Trabajo (Opcional pero recomendado) ---
ipykernel